.App {
  margin: 1rem auto;
  width: 30%;
  text-align: center;
}

.collection {
  list-style-type: none;
  margin: auto;
  padding: 0;
  text-align: left;
  text-transform: capitalize;
}

.collection-item {
  border: 1px solid #ddd;
  padding: .3rem 1rem;
  margin-bottom: .5rem;
}